.find-a-library{

	.librariesList {
		ul.locations {
			list-style: none;
			padding-left: 3.5em;
			
			li {
				display:block;
			}
			
			> li {
				
				padding: 0.7em 0em;
				border-bottom: 1px solid #E7E7E7;
				
				
				a.linfo{
					display: block;
					font-size: 1.4em;
					font-family: "Raleway", "Open Sans", sans-serif;
					color: #666;
				}
				
				.lextinfo{
					padding-left: 2.7em;
					position: relative;
					
					p{
						margin-top: 0em;
						text-align: left;
					}
					
					.span-33{
						padding: 0em 1em;
						margin-top: 2em;
						border-radius: 3px;
						background: rgba(233, 231, 218, 0.4);
						
						.loc,
						.hours{
							width: auto;
						}
					}
					
					.span-66 .span-50{
						margin-top: 1.5em;
						margin-bottom: 2em;
						
						span{
							vertical-align: top;
							margin-right: 2em;
							display: inline-block;
							font-weight: bold;
							text-transform: uppercase;
						}
						
						ul{
							padding: 0em;
							margin: 0em;
							list-style: none;
						}
					}	
				}
			}
		}//end ul.locations
	}
	
	.filterOptions, .librariesList {
		
		h4 {
			margin-top: 1.5em;
			font-size: 0.85em;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}
	
	.libraryDropdown {
		position: relative;
		
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		float: right;
		margin-top: 2em;
		
		h3{
			margin-top: -0.5em;
			padding-bottom: 0.5em;
			border-bottom: none;
		}

		.list {
			border: 1px solid rgba(0,0,0,0.1);
			border-radius:3px;
			box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
				
			ul {
				display: block;
				list-style: none;
				margin: 0px;
				padding: 0px;
				
				li { 
					margin: 0px;
					padding: 0px;
					float: none;
										
					a {
						display: block;
						background-repeat: no-repeat;
						background-size: 18px 18px;
						background-position: 0.4em;
						padding: 0.4em;
						padding-left: 2em;
						text-decoration: none;
						border: none;
						border-radius:0px;
					}
					
					a.checked {
						background-image: url(/assets/img/check.svg);
						font-weight: bold;
					}
					
					a:hover {
						background-color: $secondary-color-tan;
					}

				}//end li
			}//end ul
		}//list
	}
}

