#friends-join-btn{
	margin-top: 1em;
	padding: 2em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

.detail-ribbon.friends h3:first-child{
	margin-top: -0.9em !important;
	padding-top: 2em;
}